torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2

transformers==4.37.2
diffusers==0.25.0
accelerate==0.27.2

datasets==3.4.1
gradio
librosa==0.11.0
loguru==0.7.3
matplotlib==3.10.1
numpy==1.26.4
pypinyin==0.53.0
pytorch_lightning==2.5.1
soundfile==0.13.1
py3langid==0.3.0
hangul-romanize==0.1.0
num2words==0.5.14
spacy==3.8.4
cutlet
fugashi[unidic-lite]
click
peft
tensorboard
tensorboardX
